.form-control {
	height: 50px;
	background: rgba(255, 255, 255, 0.03);
	color: #bc9864 !important;
	font-size: 1.25rem;
	border-radius: 5px;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border: none;
	padding-left: 20px;
	padding-right: 20px;
	padding: 1.5rem;
}

.form-control::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #bc9864 !important;
}
.form-control::-moz-placeholder {
	/* Firefox 19+ */
	color: #bc9864 !important;
}
.form-control:-ms-input-placeholder {
	/* IE 0+ */
	color: #bc9864 !important;
}
.form-control:-moz-placeholder {
	/* Firefox 18- */
	color: #bc9864 !important;
}
.form-control:focus,
.form-control:active {
	border-color: #bc9864 !important;
	background: rgba(255, 255, 255, 0.1);
}

textarea.form-control {
	height: inherit !important;
}

#submit-message {
	background: #bc9864 !important;
	border-color: #bc9864 !important;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.25rem;
}

#submit-message:hover,
#submit-message:focus {
	border-color: #a57f48 !important;
	background: #a57f48 !important;
}

.contactForm .label {
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
}

.contactForm .form-control {
	border: none;
}

.contactForm .btn {
	width: 100%;
	display: block;
}

#form-message-warning,
#form-message-success {
	display: none;
}

#form-message-warning {
	color: red;
}

#form-message-success {
	color: #28a745;
	font-size: 20px;
	font-weight: 700;
}

.submitting {
	float: left;
	width: 100%;
	padding: 10px 0;
	display: none;
	font-size: 16px;
	font-weight: 500;
}
